* {
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

p, li, h1, h2, h3 {
    color: #2a2a2b;
}

/* style header */
header, 
.sub-title,
footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: unset;
    object-fit: cover;
}

.navbar-header nav ul {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    list-style: none;
    text-transform: uppercase;
    padding: 50px 0;
}

li.nav-item {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 110px;
}

.img-header {
    position: relative;
}

.img-header img {
    width: 100%;
}

.img-header .title,
footer .title {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.img-header .title h1,
footer .title h2 {
    color: #FFF;
    text-align: center;
    font-size: 100px;
    letter-spacing: 20px;
}

/* style footer */
footer .title {
    background-color: #2a2a2b;
    padding: 50px 0;
    position: relative;
}

footer .title p {
    color: #FFF;
    text-align: center;
}


/* content */
#content-wrapper {
    padding: 80px 0;
}

.content p,
.content ul {
    max-width: 900px;
    font-size: 20px;
    padding-left: 30px;
}

.content ul {
    padding-left: 50px;
}

.sub-title h3 {
    padding: 60px 190px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    letter-spacing: 10px;
    color: #FFF;
}

#presentazione .title h2 {
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 30px;
}

section#presentazione {
    padding-bottom: 80px;
}

section#programma .sub-title {
    background: linear-gradient(30deg, rgba(140,43,36,1) 0%, rgba(230,79,53,1) 33%, rgba(245,106,55,1) 69%, rgba(255,129,57,1) 100%);
    box-shadow: 5px 0px 15px 5px rgba(255,129,57,1);
}

section#cosa-facciamo .sub-title {
    background: linear-gradient(30deg, #3367db 0%, #37b2f4 33%, #38c1f9 69%, #a2d7ff 100%);
    box-shadow: 5px 0px 15px 5px #38c1f9;
}

#programma .content,
#cosa-facciamo .content {
    padding: 50px 0 80px;
}

