.navbar-header nav ul {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  list-style: none;
  text-transform: uppercase;
  padding: 50px 0;
}

li.nav-item {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 110px;
}
