<header>
  <!-- navbar -->
  <div id="navbar" class="navbar-header">
    <nav>
      <ul>
          <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Chi sono</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Competenze</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Interessi</a></li>
          <li class="nav-item"><a href="contatti.html" class="nav-link">Contatti</a></li>
      </ul>
  </nav>
  </div>
</header>
