<!-- header -->
<header>
  <!-- immagine di header -->
  <div class="img-header">
      <img src="/assets/immagini/html-css-banner copia.png" alt="immagine-header">
      <div class="title">
          <h1>Hello world!</h1>
      </div>
  </div>
</header>

<!-- introduzione prgetto e obiettivi da raggiungere durante il modulo html-css e dopo -->
<div id="content-wrapper">
  <section id="presentazione">
    <!-- titolo principale della pagina-->
    <div class="title">
      <h2>Prima di iniziare, mi presento...</h2>
    </div>
    <!-- contenuto della pagina -->
    <div class="content">
      <!-- sezione presentazione personale-->
      <p>Mi chiamo Sergio Pugliese e vi aiuterò a muovere i vostri primi passi nell'html e css
        Insieme, vedremo che cosa sono, vedremo un po' di bootstrap e wordPress.
      </p>
      <p>Solo un anno fa io ero li, al vostro posto, seduto con altri ragazzi che come me e voi,
        iniziavamo
        questo percorso.
        Eravamo ragazzi di tutti i tipi: persone che avevano già
        programmato qualcosa, altri che non avevano la minima idea di cosa stesse per accadere. <br>
        Io facevo decisamente parte della seconda tipologia di persone... ero uno store manager che
        era
        stanco e stufo del suo vecchio lavoro e all' età di 34 anni, si è lanciato in
        questo mondo con tanta umiltà e voglia di imparare.
      </p>
      <p>Oggi sono junior web developer presso Archibuzz. A sole 24 ore dall'esame finale, ero già a
        lavoro e
        si, stavo davvero sviluppando qualcosa. <br>
        Dopo 7 mesi, sono stato selezionato per un' academy su java e angular presso una grande
        azienda
        di
        consulenza. <br>
        La strada è ancora lunga, ma se consideriamo che son partito totalmente da zero, posso dire
        con
        orgoglio di aver
        raggiunto un bel traguardo e tutto questo, ha avuto inizio proprio da una di quelle sedie
        che
        adesso, occupate voi.
      </p>
    </div>
  </section>

  <!-- descrizione delle attività che andremo a fare insieme -->
  <section id="programma">
    <div class="sub-title">
      <h3>Iniziamo...</h3>
    </div>
    <div class="content">
      <p>
        Vi spiego un po' le cose che mi piacerebbe fare insieme a voi:
      </p>
      <p>
        L'idea principale è sicuramente quella di trasmettervi il più possibile, ma ho anche pensato a
        quello che potrebbe essere un modo
        per rendere il tutto divertente e che metta tutti voi nella condizione di realizzare qualcosa
        fin da
        subito. <br>
        Ho quindi creato questo sito che andremo ad ampliare passo dopo passo con vari contenuti, in
        modo
        che alla fine del nostro percorso
        isieme, abbiate una bella base che potrete ampliare e trasformare con i vari linguaggi di
        programmazione che affronteretencon gli altri docenti.
      </p>
    </div>
  </section>

  <section id="cosa-facciamo">
    <div class="sub-title">
      <h3>Cosa sarà questo sito???</h3>
    </div>
    <div class="content">

      <p>
        Il progetto che faremo tutti insieme è quello di creare un sito che racchiuda tutto quello che
        vi
        riguarda come persone e come futuri programmatori. </p>>
      <ul>
        <li>Ci sarà una sezione dove parlerete di voi, di chi eravate, chi siete e chi volete essere
        </li>
        <li>Molti recruiter chiedono i vostri interessi nel tempo libero. Anche quelli che non centrano
          nulla con la programmazione</li>
        <li>Una sezione che tratti della vostra formazione e delle competenze.</li>
        <li>Una pagina di contatto con i vostri dati.</li>
      </ul>
    </div>

    <div style="width: fit-content; margin: auto;">
      <a style="padding: 20px 40px; text-align: center; text-decoration: none; text-transform: uppercase; color: #fff; font-weight: 700; background: #2a2a2b; border: 1px solid #2a2a2b; border-radius: 20px;">Iniziamo</a>
    </div>
  </section>


  <app-footer></app-footer>
