/* content */
#content-wrapper {
  padding: 80px 0;
}

.content p,
.content ul {
  max-width: 900px;
  font-size: 20px;
  padding-left: 30px;
}

.content ul {
  padding-left: 50px;
}

.sub-title h3 {
  padding: 60px 190px;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  letter-spacing: 10px;
  color: #FFF;
}

#presentazione .title h2 {
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  padding-left: 30px;
}

section#presentazione {
  padding-bottom: 80px;
}

section#programma .sub-title {
  background: linear-gradient(30deg, rgba(140,43,36,1) 0%, rgba(230,79,53,1) 33%, rgba(245,106,55,1) 69%, rgba(255,129,57,1) 100%);
  box-shadow: 5px 0px 15px 5px rgba(255,129,57,1);
}

section#cosa-facciamo .sub-title {
  background: linear-gradient(30deg, #3367db 0%, #37b2f4 33%, #38c1f9 69%, #a2d7ff 100%);
  box-shadow: 5px 0px 15px 5px #38c1f9;
}

#programma .content,
#cosa-facciamo .content {
  padding: 50px 0 80px;
}
